@import 'reset';
@import 'node_modules/slick-carousel/slick/slick.scss';
$sut: #17366f;
$dark: #091314;
$white: #ececec;

@import 'global';
@import 'lego/header';
@import 'lego/promo';
@import 'lego/menu';
@import 'lego/gallery';
@import 'lego/info';
@import 'lego/footer';