.gallery {

    &__list {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 250px;

        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;
        }
    }

    &__item {
        // overflow: hidden;

        &--small {
            grid-row: span 1;
            grid-column: span 1;
        }

        &--high {
            grid-row: span 2;
            grid-column: span 1;
        }

        // &--long {
        //     grid-row: span 1;
        //     grid-column: span 2;
        // }

        // &--big {
        //     grid-row: span 2;
        //     grid-column: span 2;
        // }

        // &--xhigh {
        //     grid-row: span 4;
        //     grid-column: span 3;
        // }

    }

    &__link {
        height: 100%;
        display: block;
        overflow: hidden;
        transition: outline 0.3s;

        &:hover {
            .gallery__img {
                transform: scale(1.3);
            }
        }

        &:focus {
            outline: 2px solid $sut;
            outline-offset: 4px;
        }
    }


    &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: transform 5s;
    }
}

.collections {

    &__list {
        display: block;

        
    }

    &__item {
        width: 100%;


        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__link {
        height: 200px;
        display: flex;
        padding: 0 40px;
        align-items: center;
        background: linear-gradient(90deg, rgba(43, 51, 52, 0.8) 0%, rgba(43, 51, 52, 0.8) 100%);
        overflow: hidden;
        position: relative;
        transition: outline 0.3s;
        z-index: 1;

        @media (max-width: 576px) {
            height: 130px;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #2b3334cc;
            z-index: -1;
        }

        &::after {
            content: '';
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            z-index: -2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: transform 5s;
        }

        &--1::after {
            background-image: url('../images/collections/1.jpg');
        }

        &--2::after {
            background-image: url('../images/collections/2.jpg');
        }

        &--3::after {
            background-image: url('../images/collections/3.jpg');
        }

        &--4::after {
            background-image: url('../images/collections/4.jpg');
        }

        &:hover::after  {
            transform: scale(1.3);
        }

        &:focus {
            outline: 2px solid $sut;
            outline-offset: 4px;
        }
    }

    &__subtitle {
        color: $white;
        font-size: 36px;

        @media (max-width: 576px) {
            font-size: 24px;
        }
    }

}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }

    &__item {
        @media (max-width: 768px) {
            margin-bottom: 10px;
        }

        @media (max-width: 576px)  {
            width: 100%;
        }
        

        &:not(:last-child) {
            margin-right: 40px;

            @media (max-width: 576px) {
                margin-right: 0;
            }
        }
    }

    &__btn {
        color: #fff;
        font-size: 21px;
        border-radius: 5px;

        @media (max-width: 576px) {
            width: 100%;
            text-align: center;
            padding: 6px 0;
            font-size: 16px;
        }

        &:hover {
            color: rgb(151, 151, 151);
        }

        &:focus {
            outline: 2px solid $sut;
            outline-offset: 4px;
        }

        &:active {
            opacity: 0.3;
        }

        &.mixitup-control-active {
            color: $sut;
        }
    }
}

button.mfp-close {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid #fff;
    top: 40px;
    right: 40px;
    opacity: 1;

    @media (max-width: 576px) {
        top: 10px;
        right: 10px;
        border: none;
        background-color: rgb(179, 179, 179);
    }

    &:hover {
        opacity: 0.7;
    }

    &:focus {
        outline: 2px solid $sut;
        outline-offset: 4px;
    }

    &:active {
        top: 40px;
        box-shadow: inset 1px 1px 2px rgb(255, 255, 255);

        @media (max-width: 576px) {
            top: 10px;
        }
    }
}