
.menu {
    position: relative;

    &__btn {
        width: 55px;
        height: 55px;
        padding: 10px;
        position: relative;
        border-radius: 5px;

        &.off {
            display: none;
        }

        &.active {
            .menu__line {
                background-color: transparent;

                &:before {
                    top: 27px;
                    transform: rotate(45deg);
                }

                &:after {
                    bottom: 27px;
                    transform: rotate(-45deg);
                }
            }


        }
    }

    &__line {
        display: block;
        width: 35px;
        height: 1px;
        border-radius: 1px;
        background-color: #fff;

        &:before,
        &:after {
            content: '';
            position: absolute;
            display: block;
            border-radius: inherit;
            width: inherit;
            height: inherit;
            background-color: #fff;
            transition: all 0.4s;
        }

        &:before {
            top: 14px;
        }

        &:after {
            bottom: 14px;
        }
    }

    &__list {
        position: absolute;
        top: 60px;
        background-color: rgba(48, 48, 48, 0.5);
        border-radius: 5px;
        backdrop-filter: blur(12px);
    }

    &__item {
        text-align: center;
    }

    &__link {
        display: block;
        font-size: 18px;
        padding: 15px 50px;
        border-radius: 5px;
        border-bottom: 1px solid $sut;
        text-transform: uppercase;

        &:hover {
            background-color: rgba(48, 48, 48, 0.8);
        }
    }
}